### React-Specific Ignore File ###

# Dependencies
/node_modules
/.pnp
.pnp.js

# Environment
.env
.env.local
.env*.local

# Build
/build
/.cache

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# System
.DS_Store