.container2{
    display: flex;
    flex-direction: column;
    width: 80vw;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    padding-bottom: 50px;
    border-radius: 20px;

    background-color: #423647;
    color: #FBD9FC;
}



.inputs2{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    gap: 25px;
}

.name-input{
    display: flex;
    flex-direction: row;
    margin: auto;
    gap: 10px;
    padding: 0px 10px;
    
}

 
.normal-input{
    display: flex;
    flex-direction: row;
    margin: auto;
    padding-left: 10px;
    justify-content: center;
    justify-items: center;
    align-items: center;
    width: 35vw;
    height: 60px;
    gap: 5px;
    border-radius: 5px;
    background-color: #FBD9FC;
}

input{
    width: 30vw;
    height: 50px;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 14px;
    font-weight: 600;
    
}

.Signup-btn{
    width: 200px;
    height: 60px;
    border-radius: 20px;
    margin: auto;
    margin-top: 20px;

    text-align: center;
    
    cursor: pointer;
    background-color: red;
}